# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Base de datos SQLite
*.db

# Sphinx build
docs/_build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
